cph1-inf-skyipam-001.privatedns.zone { # This line should match the ALLOWED_HOSTS in your NetBox Docker configuration
    reverse_proxy netbox:8080
    encode gzip zstd
    
    tls /etc/cert-client/star.privatedns.zone.crt /etc/cert-client/star.privatedns.zone.key

    log {
      level error
    }
}
