version: '3.4'
services:
  tls:
    image: caddy:2-alpine
    depends_on:
      - netbox
    volumes:
      - /etc/cert-client/star.privatedns.zone.key:/etc/cert-client/star.privatedns.zone.key:ro,z
      - /etc/cert-client/star.privatedns.zone.crt:/etc/cert-client/star.privatedns.zone.crt:ro,z
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - 80:80   # Allows for http redirection
      - 443:443
  # postgres
  postgres:
    image: postgres:10.4-alpine
